
<div class="franja" style="color: #303030; background-color:white;">
	
	<div class="horizontal-centered" style="text-align:center;">
	<p>Estaremos encantados de recibirte.</p>
	</div>
	
	<div class="horizontal-centered" style="text-align:center;">
		<button class="btn try" role="link">¡Pruébalo Gratis!</button>
	</div>

</div>

<div class="franja" style="background-color: #303030; color:white;">

	<div class="horizontal-centered" style="text-align:center;">
	
		<h2>Comentarios</h2>
	
		<div class="comment-home">
		<p>"Ambiente genial, escuela admirable y grandes maestros"</p>
		
		<div class="horizontal-centered" style="text-align:center;">
			<button class="btn more-comments" role="link">Ver más</button>
		</div>
		</div>	
	</div>


</div>

<div class="franja" style="background-color:#eff235;">

		<div class="horizontal-centered" style="text-align:center;"> 
			<h2>¿Dudas?</h2>
			
			<p>¿Tienes dudas sobre las clases? 
			¿Te preguntas si puedes practicar Krav Maga con tu forma, complexión o edad...? 
			¿Tienes lesiones?
			</p>
			
			<button class="btn faq" role="link">Ver preguntas frecuentes</button>
		</div>


</div>

<div class="franja">
	<div class="horizontal-centered" style="text-align:center;"> 
		<h2>Síguenos</h2>
	</div>

</div>

<div class="franja" style="background-color: #303030; color:white;">

	<div class="horizontal-centered" style="text-align:center;"> 
		<h2>Contacta con nosotros</h2>
		
		<div class="contact-form">
			
		</div>
	</div>


</div>
