<nav class="hidden-lg hidden-md hidden-sm mobile-nav-menu">
          <div (click)="clickHamburguesa()" class="hamburger-slim" role="button">
          </div>
          <ul *ngIf="show" class="first-level-links">
            <li class="active">
            <a class="btn" href="#">
              <span>Inicio</span>	
              </a>			
            </li>
            <li>
              <a class="btn" href="#"> <span>Krav maga</span>
              </a>
              <ul class="second-level-links">
                <li>
                <a class="btn" href="#"><span>Qué es el Krav Maga</span></a>
                  
                </li>
                <li>
                  <a class="btn" href="#"><span>FEKM-RD sector España</span></a>				
                </li>
                <li>
                <a class="btn" href="#">
                  <span>Linaje</span>
                  </a>
                </li>
                <li>
                <a class="btn" href="#">
                  <span>Programas técnicos</span>
                  </a>
                </li>
              </ul>
            </li>
            <li>
            <a class="btn" href="#">
              <span>Precios y horarios</span>	
              </a>			
            </li>
            <li>
            <a class="btn" href="#">
              <span>Qué necesito</span>	
              </a>			
            </li>
            <li>
              <a class="btn" href="#">
              <span>Dudas</span>	
              </a>			
            </li>
          </ul>
        </nav>
    